<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.id.telkomsigma.palapaone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.main.Splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.main.Splashscreen2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".controller.main.BeforeLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".controller.main.BilingualActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".controller.main.MainActivity"></activity>
        <activity android:name=".controller.main.LoginActivity"></activity>
        <activity android:name=".controller.main.MenuActivity"></activity>
        <activity android:name=".controller.presence.PresenceActivity"></activity>
        <activity android:name=".controller.speaker.SpeakerActivity"></activity>
        <activity android:name=".controller.materi.MateriActivity"></activity>
        <activity android:name=".controller.speaker.SpeakerDetailActivity"></activity>
        <activity android:name=".controller.feedback.FeedbackActivity"></activity>
        <activity android:name=".controller.asking.AskingActivity"></activity>
        <activity android:name=".controller.media.MediaCenterActivity"></activity>
        <activity android:name=".controller.media.MediaCenterDetailActivity"></activity>
        <activity android:name=".controller.partner.PartnersActivity"></activity>
        <activity android:name=".controller.partner.PartnersDetailActivity"></activity>
        <activity android:name=".controller.help.HelpActivity"></activity>
        <activity android:name=".controller.help.HelpWebActivity"></activity>
        <activity android:name=".controller.help.AboutActivity"></activity>
        <activity android:name=".controller.help.ContactActivity"></activity>
        <activity android:name=".controller.gallery.GalleryActivity"></activity>
        <activity android:name=".controller.gallery.GalleryDetailActivity"></activity>
        <activity android:name=".controller.expo.ExpoActivity"></activity>
        <activity android:name=".controller.expo.ExpoDetailActivity"></activity>
        <activity android:name=".controller.profile.ProfileActivity"></activity>
        <activity android:name=".controller.profile.ProfileEditActivity"></activity>
        <activity android:name=".controller.inbox.InboxActivity"></activity>
        <activity android:name=".controller.inbox.DetailInboxActivity"></activity>
        <activity android:name=".controller.event.EventActivity"></activity>
        <activity android:name=".controller.event.DetailEventMapActivity"></activity>
        <activity android:name=".controller.event.ShowLayoutActivity"></activity>
    </application>

</manifest>